Binaries
DerivedDataCache
Intermediate
Saved
!Saved/Config
!Saved/Config/WindowsEditor
!Saved/Config/WindowsEditor/*VoidSettings.ini
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace