Binaries
enc_temp_folder
Intermediate
Saved/**/*
!Saved/Config
!Saved/Config/WindowsEditor
!Saved/Config/WindowsEditr/*VoidSettings.ini
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
